body {
    background-image: url('../../assets/marauders-map.jpg');
}

.quest {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.quest.completed {
    color: white;
    font-size: .9em;
}

h1{
    display: inline;
}

img {
   height: 75px;
   width: auto; 
   padding-top: 10px;
}


#user-info {
    background-color: rgb(226, 211, 36);
    border: solid #4F605B 2px;
    font-size: .7em;
    color: rgb(57, 57, 57);
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    float: right;
    margin-top: -4px;
    margin-right: -3px;
}

